
<%= link_to "Add Pdf", new_doc_path %>

<div>
      <% @docs.each do |doc| %>  
      <span><h2><%= doc.name %></h2><span>
      <span> <%= link_to "Open pdf", doc.attachment_url %></span>
      <% end %>
</div>
  
   

